---
export const prerender = true;

import "~/styles/global.css";
import "~/font/SourceCodePro/sourcecodepro.css";

import Font from "../font/SourceCodePro/SourceCodePro-latin.woff2";
import GoofyImg from "~/img/goofy.jpg";
import Meta from "~/components/Meta.astro";
import HomeLinks from "~/components/home/HomeLinks.astro";
import HotlineWebRing from "../components/HotlineWebRing.astro";
import My88x31Icons from "../components/My88x31Icons.astro";
import WelcomeBanner from "../components/WelcomeBanner.astro";
import ToggleSwitch from "../components/ToggleSwitch.astro";
import Help from "../components/Help.astro";
import StarBackground from "../components/backgrounds/StarBackground.astro";
import SpinningEarth from "../components/img/SpinningEarth.astro";
import UnderConstruction from "../components/img/UnderConstruction.astro";
import All88x31Cards from "~/components/All88x31Cards.astro";

import { SITE_DESCRIPTION, links, twitterUser, mastodon, git } from "../config";
import LoadTheme from "~/components/LoadTheme.astro";
import { humanDate } from "~/lib/dates.js";

const HEAD_SHA = "development";

const built = new Date();
const themeToggle = "tt"; // theme toggle
const buildHash =
  import.meta.env.GITHUB_SHA || // github actions
  import.meta.env.COMMIT_REF || // netlify builds
  import.meta.env.CF_PAGES_COMMIT_SHA || // cloudflare pages
  HEAD_SHA;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <LoadTheme key="theme" button={themeToggle} />
    <Meta
      title="Harry Brown"
      author="Harry Brown"
      description={SITE_DESCRIPTION}
      image={{
        url: GoofyImg.src,
        alt: "A picture of me looking goofy and drinking hot cocoa.",
      }}
      robots={["index", "archive", "follow"]}
      twitter={{ username: twitterUser }}
      mastodon={mastodon}
      sitemap="/sitemap-index.xml"
      og={{
        type: "website",
        locale: "en_US",
        siteName: "Harry Brown",
      }}
    />
    <!-- <link rel="preload" href={StarsImg} as="image" type="image/webp" /> -->
    <link rel="preload" href={Font} as="font" type="font/woff2" crossorigin />
  </head>
  <body>
    <StarBackground />
    <ToggleSwitch id={themeToggle} checked={true} />
    <main>
      <header>
        <center>
          <WelcomeBanner />
          <SpinningEarth id="show-login-btn" />
          <p>I do computers and stuff.</p>
        </center>
      </header>

      <section>
        <h2>Pages</h2>
        <ul class="pages">
          <li>
            <a href="/about/">about</a>
          </li>
          <li>
            <a href="/bookmarks">bookmarks</a>
          </li>
          <li>
            <a href="/blog/">blog</a>
          </li>
          <li>
            <a href="/garden/">garden</a>
          </li>
          <li>
            <a target="_blank" href="/static/files/HarrisonBrown.pdf">resume</a>
          </li>
        </ul>
      </section>

      <h2>Links</h2>
      <HomeLinks
        class="links"
        links={[
          { href: links.github, text: "github", title: "All my projects" },
          { href: links.linkedin, text: "linkedin", title: "My LinkedIn" },
          { href: links.mastodon, text: "mastodon", title: "Mastodon" },
          {
            href: links.worldOfText,
            text: "wall",
            title: "Write something on my wall",
          },
        ]}
      />

      <section>
        <h2>My Projects</h2>
        <ul>
          <li>
            <a href="/projects/remora">remora</a>: A distributed web crawler and
            search engine.
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/harrybrwn/apizza"
              rel="noopener,noreferrer">apizza</a
            >: Download dominos pizza from the command line.
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/harrybrwn/yt"
              rel="noopener,noreferrer"
            >
              yt</a
            >: Youtube video/audio downloader.
          </li>
        </ul>
      </section>

      <section class="settings" id="settings">
        <button id="help-btn">Help</button>
      </section>

      <All88x31Cards />

      <footer class="cards">
        <section class="stats">
          <p>
            updated: <time id="built" datetime={built.toISOString()}
              >{humanDate(built)}</time
            >
          </p>
          <p>
            build: <a
              target="_blank"
              href={`https://github.com/${git.repo}/tree/${buildHash}`}
              >{buildHash}</a
            >
          </p>
        </section>
        <HotlineWebRing />
        <center>
          <My88x31Icons />
          <UnderConstruction />
        </center>
      </footer>
    </main>

    <Help button="help-btn" />

    <script>
      import type { Modal } from "~/lib/modal";
      import { listener } from "~/lib/keyboard-shortcuts";
      import { Theme } from "~/lib/theme";
      import { humanDate } from "~/lib/dates";

      const built = document.getElementById("built") as HTMLTimeElement | null;
      if (!built) throw new Error("no build date");
      // Convert to local timezone and human readable date.
      built.innerText = humanDate(new Date(built.dateTime));

      const help = document.getElementById("help-window") as Modal | null;
      const toggle = document.getElementById("tt") as HTMLInputElement;
      document.addEventListener(
        "keydown",
        listener(() => window.themeToggle(toggle), help)
      );
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", ({ matches: isDark }) => {
          window.setTheme(isDark ? Theme.Dark : Theme.Light, toggle);
        });
    </script>

    <style is:global>
      body {
        font-family: "Source Code Pro", mono, "Liberation Mono", monospace;
        font-size: 18px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2em;
        max-width: 750px;
      }
      a:visited {
        text-decoration: none;
      }

      .links,
      .pages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .settings {
        margin-bottom: 1.15em;
      }

      .stats p {
        font-size: 0.8rem;
        margin: 0;
      }

      .cards a {
        /* Hide the underlines for 88x31 cards */
        text-decoration: none;
      }

      main ul li {
        padding-top: 4px;
        padding-bottom: 4px;
      }

      ::-webkit-scrollbar {
        width: 0.5em;
      }
      ::-webkit-scrollbar-thumb {
        background-color: grey;
      }
    </style>
  </body>
</html>
