---
export const prerender = true;

import BookmarkCard from "~/components/BookmarkCard.astro";
import Base from "~/layouts/Base.astro";
import Nav from "~/components/Nav.astro";
import bookmarks from "~/bookmarks.yml";
import type { Bookmark } from "~/types";

let tagset = new Set<string>();
for (let bk of bookmarks.links) {
  for (let tag of bk.tags) {
    if (!tagset.has(tag)) {
      tagset.add(tag as string);
    }
  }
}
const tags = new Array(...tagset);
---

<Base
  title="Bookmarks"
  description="Harry Brown's bookmarks and interesting sites."
>
  <main>
    <header>
      <Nav
        pages={[
          { href: "/", name: "home" },
          { href: "/about/", name: "about" },
          { href: "/blog/", name: "blog" },
          { href: "/bookmarks/", name: "bookmarks" },
        ]}
      />
    </header>
    <h2>Bookmarks</h2>
    <h3>Tags</h3>
    <section class="tags">
      {
        tags.sort().map((t) => (
          <span class="bk-tags">
            <a href={`/bookmarks/tag/${t}`}>{t}</a>{" "}
          </span>
        ))
      }
    </section>
    <h3>Bookmarks</h3>
    <section>
      <div id="bookmarks" class="bookmarks">
        {
          bookmarks.links.map((b: Bookmark) => (
            <BookmarkCard
              href={b.url}
              name={b.name}
              description={b.description}
              tags={b.tags}
            />
          ))
        }
      </div>
    </section>
  </main>
</Base>

<style is:global>
  header {
    font-size: 16px !important;
  }
  main {
    max-width: 1300px !important;
    font-size: 18px !important;
  }

  nav ul {
    list-style: none;
  }

  .bookmarks {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .tags {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  @media only screen and (min-width: 800px) and (max-width: 1200px) {
    .bookmarks {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (min-width: 1200px) {
    .bookmarks {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
