---
export interface Props {
  href: string;
  name: string;
  description: string;
  tags: string[];
}
const { href, name, description, tags } = Astro.props;
---

<style>
  section {
    /* top | right | bottom | left */
    padding: 10px 5px 10px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
  }

  html[data-theme="dark"] section {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  }

  section:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  }

  html[data-theme="dark"] section:hover {
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.3);
  }

  .bk-tags :global(span) :global(a[href]) {
    font-size: 14px;
    background-color: dimgray;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
  }
</style>

<section>
  <div>
    <a href={href} target="_blank" rel="noopener, noreferrer">{name}</a>
  </div>
  {description}
  <div class="bk-tags">
    {
      tags.map((tag) => (
        <span>
          <a href={`/bookmarks/${tag}`}>{tag}</a>
        </span>
      ))
    }
  </div>
</section>
