---
import { findFaviconType } from "../lib/favicon";

export interface Props {
  title: string;
  description?: string;
  favicon?: string;
}

const { title, description, favicon } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const iconType = findFaviconType(favicon);
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  {
    favicon && <link rel="icon" type={iconType} href={favicon} />
  }
  <meta name="generator" content={Astro.generator} />
  <meta name="referrer" content="strict-origin-when-cross-origin" />
  <link rel="canonical" href={canonicalURL} />
  {
    description && description.length > 0 && (
      <meta name="description" content={description} />
    )
  }
  <title>{title}</title>
  <slot />
</head>
