---
import type { AnchorHTMLAttributes } from "~/lib/html";
export type Props = AnchorHTMLAttributes;

let {
  class: className,
  id,
  download,
  href,
  hreflang,
  media,
  ping,
  rel = "noopener, noreferrer",
  target,
  type,
  referrerpolicy,
} = Astro.props;

if (href) {
  const link = new URL(href);
  if (link.host !== Astro.url.host) {
    // External link, add privacy settings.
    rel = "noopener, noreferrer";
  }
}
---

<a
  class={className}
  id={id}
  download={download}
  href={href}
  hreflang={hreflang}
  media={media}
  rel={rel}
  ping={ping}
  target={target}
  type={type}
  referrerpolicy={referrerpolicy}
>
  <slot />
</a>
