---
import type { AnchorHTMLAttributes } from "~/lib/html";
export type Props = AnchorHTMLAttributes;

const {
  class: className,
  id,
  download,
  href,
  hreflang,
  media,
  ping,
  rel = "noopener, noreferrer",
  target,
  type,
  referrerpolicy,
} = Astro.props;
---

<a
  class={className}
  id={id}
  download={download}
  href={href}
  hreflang={hreflang}
  media={media}
  rel={rel}
  ping={ping}
  target={target}
  type={type}
  referrerpolicy={referrerpolicy}
>
  <slot />
</a>
