---
import "../font/SourceCodePro/sourcecodepro.css";
import "../styles/global.css";

import type { Props as OpenGraphProps } from "~/components/seo/OpenGraph.astro";
import Meta, { type MetaProps, type SEOImage } from "../components/Meta.astro";
import Font from "~/font/SourceCodePro/SourceCodePro-latin.woff2";
import GoofyImg from "~/img/goofy.jpg";
import StarBackground from "../components/backgrounds/StarBackground.astro";
import ToggleSwitch from "../components/ToggleSwitch.astro";
import LoadTheme from "~/components/LoadTheme.astro";
import { SITE_TITLE, mastodon as mastodonInfo, twitterUser } from "~/config";

export interface Props extends MetaProps {
  lang?: string;
}

export const defaultImage: SEOImage = {
  url: GoofyImg.src,
  alt: "A picture of me looking goofy and drinking hot cocoa.",
};

export const defaultOpenGraph: OpenGraphProps = {
  type: "website",
  locale: "en_US",
  siteName: SITE_TITLE,
};

const {
  lang = "en",
  author = "Harry Brown",
  image = Object.assign({}, defaultImage),
  og = Object.assign({}, defaultOpenGraph),
  sitemap = "/sitemap-index.xml",
  twitter = { username: twitterUser },
  mastodon = Object.assign({}, mastodonInfo),
  ...props
} = Astro.props;
const themeId = "tt";
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <LoadTheme key="theme" button={themeId} />
    <style is:global>
      body {
        font-family: "Source Code Pro", mono, "Liberation Mono", monospace;
      }
      main {
        font-size: 16px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2em;
        max-width: 750px;
      }
    </style>
    <Meta
      author={author}
      image={image}
      twitter={twitter}
      mastodon={mastodon}
      sitemap={sitemap}
      og={og}
      {...props}
    />
    <!-- <link rel="preload" href={StarsImg} as="image" type="image/webp" /> -->
    <link rel="preload" href={Font} as="font" type="font/woff2" crossorigin />
  </head>
  <body>
    <StarBackground />
    <ToggleSwitch id={themeId} checked={false} size="60px" />
    <slot />
    <script>
      import type { Modal } from "~/lib/modal";
      import { listener } from "~/lib/keyboard-shortcuts";
      import { Theme } from "~/lib/theme";

      const help = document.getElementById("help-window") as Modal | null;
      const toggle = document.getElementById("tt") as HTMLInputElement;
      document.addEventListener(
        "keydown",
        listener(() => window.themeToggle(toggle), help)
      );
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", ({ matches: isDark }) => {
          window.setTheme(isDark ? Theme.Dark : Theme.Light, toggle);
        });
    </script>
  </body>
</html>
