---
import Nav from "~/components/Nav.astro";
import Base from "~/layouts/Base.astro";
import { humanDate } from "~/lib/dates";
import "~/styles/code.scss";

export interface Props {
  content: {
    title: string;
    description: string;
    tags?: string[];
    pubDate: Date;
    modDate?: Date | undefined;
  };
}
const {
  content: { title, description, tags, pubDate, modDate },
} = Astro.props;
const date = new Date(pubDate || new Date());
---

<Base title={title} description={description}>
  <main>
    <header>
      <Nav
        pages={[
          { href: "/", name: "home" },
          { href: "/about", name: "about" },
          { href: "/blog", name: "blog" },
        ]}
      />
      <h1>{title}</h1>
      <p>{description}</p>
    </header>
    <hr />
    <article>
      <slot />
    </article>
    <hr />
    <footer>
      {tags && tags.length > 0 && <pre>tags: [{tags?.join(" ")}]</pre>}
      <pre>published: {humanDate(date)}</pre>
      {modDate !== undefined && !isNaN(modDate.getTime())
        ? <pre>modified: {humanDate(modDate)}</pre>
        : <></>
      }
    </footer>
  </main>
</Base>

<style is:global>
  body {
    font-size: 16px;
  }
  hr {
    border-color: rgb(172, 172, 172);
    max-width: 80%;
  }
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  ::-webkit-scrollbar-thumb {
    background-color: grey;
  }
</style>
